<!doctype html>
<html lang="zh-CN" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>zhaojunlikeStudy • TodoMVC</title>
	<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
	<!-- CSS overrides - remove if you don't need it -->
	<link rel="stylesheet" href="css/app.css">
	<style>
		.demo {
			display: none;
		}
	</style>
</head>
<body>
<section class="demo" ng-controller="TestController">
	{{msg}}
</section>


<section class="todoapp" ng-controller="HomeController">
	<header class="header">
		<h1>任务列表</h1>
		<form ng-submit="add();">
			<input class="new-todo" placeholder="{{tip}}" autofocus="autofocus" ng-model="text">
		</form>
	</header>
	<section class="main">
		<input id="toggle-all" class="toggle-all" type="checkbox" ng-model="checkAll" ng-change="checkedChange();">
		<label for="toggle-all">Mark all as complete</label>
		<ul class="todo-list">
			<!--import  绑定class,-->
			<li ng-repeat="vo in todos | filter:statusFilter"
				ng-class="{completed:vo.status,editing:currentEditingId===vo.id}"
				ng-dblclick="editAction(vo.id)"
				ng-keydown="saveEditing($event);">
				<div class="view">
					<input class="toggle" type="checkbox" ng-model="vo.status">
					<label data-id="{{vo.id}}">{{vo.title}}</label>
					<button ng-click="remove(vo.id);" class="destroy"></button>
				</div>
				<input class="edit" ng-model="vo.title">
			</li>
		</ul>
	</section>
	<!-- This footer should hidden by default and shown when there are todos -->
	<footer class="footer">
		<!-- This should be `0 items left` by default -->
		<span class="todo-count"><strong>{{todos.length}}</strong> item left</span>
		<!-- Remove this if you don't implement routing -->
		<ul class="filters">
			<li>
				<a ng-class="{selected:$location.path()=='/'}" href="#/">All</a>
			</li>
			<li>
				<a ng-class="{selected:$location.path()=='/active'}" href="#/active">Active</a>
			</li>
			<li>
				<a ng-class="{selected:$location.path()=='/completed'}" href="#/completed">Completed</a>
			</li>
		</ul>
		<!-- Hidden if no completed items are left ↓ -->
		<button class="clear-completed" ng-click="clearCompleted();" ng-show="existCompleted()">Clear completed
		</button>
	</footer>
</section>
<footer class="info">
	<p>Double-click to edit a todo</p>
	<!-- Remove the below line ↓ -->
	<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
	<!-- Change this out with your name and url ↓ -->
	<p>Created by <a href="http://todomvc.com">zhaojunlike@gmail.com</a></p>
	<p>Part of <a href="http://todomvc.com">Angular Test</a></p>
</footer>
<!--include angular-->
<script src="./node_modules/angular/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
